{% extends 'base.html' %}
{% load static %}
{% block title %}Редагування книги{% endblock title %}
{% block additional_css %}
<link href="{% static 'css/books/edit.css' %}" rel="stylesheet">
{% endblock additional_css %}

{% block content %}
    <div class="container">
        <h2>Редагування книги</h2>
        <hr style="border-color: gray">
        <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="form">
                {{ form }}
            </ul>
            <button>
                <a href="{{ book.id }}/edit_image">
                    Редагувати картинку
                </a>
            </button>
            <p style="margin-top: 15px">
                <input type="submit" value="Редагувати">
                &nbsp;
                <input type="reset" value="Очистити">
                &nbsp;
                <input type="button" onclick="history.back();" value="Назад">
            </p>
        </form>
    </div>
    <style>
        .input {
            width: 95%;
        }
        .file {
            margin-top: 15px;
        }
        .form {
            font: 13pt "Trebuchet MS";
        }
    </style>
{% endblock content %}
