{% extends 'base.html' %}
{% load static %}

{% block title %}Результат авторизації{% endblock title %}
{% block additional_css %}
<link href="{% static 'css/access/access_base.css' %}" rel="stylesheet">
{% endblock additional_css %}

{% block content %}
    <div class="container">
        <h2>Результат авторизації</h2>
        <hr style="border-color: gray">
        <h5>
            <span style="color: {{ color }}">
                {{ message }}
            </span>
            <!--
            login: {{ login }}<br>
            pass1: {{ pass1 }}<br>
            password: {{ password }}<br>
            -->
        </h5>
    </div>
{% endblock content %}
